{% extends "base.html" %}

{% block title %} 404 - URL not found {% end %}

{% block custom-head-js-script %}
<!-- Custom styles for this template -->

{% end %}

{% block custom-starter-wrapper %}
<noscript> <div id="nojs" style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">Your web browser needs JavaScript enabled in order for this site to display correctly.</div> </noscript>
{% end %}

{% block container %}
    
  <article>
    <div id="article">
    
      <h1 class="text-body-emphasis">404. Error</h1>
        
      <div class="blk">&nbsp;</div>

      <p>The requested URL was not found on this server.</p>
      
      
      <div class="blk">&nbsp;</div>
    
    </div><!-- article div -->
  </article>
    
  <div class="blk">&nbsp;</div>
  
{% end %}

{% block custom-body-js-scripts %}

{% end %}