{% extends "base.html" %}

{% block title %} About - [Company Name] {% end %}

{% block custom-head-js-script %}
<!-- Custom styles for this template -->

{% end %}

{% block custom-starter-wrapper %}
<noscript> <div id="nojs" style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">Your web browser needs JavaScript enabled in order for this site to display correctly.</div> </noscript>
{% end %}

{% block container %}
    
  <article>
    <div id="article">
    
      <h1 class="text-body-emphasis">About</h1>
       
      <div class="sp6">&nbsp;</div>

      <h3>Overview</h3>
      <p>...</p>
      
      <h3>Goals</h3>
      <ol class="list-group list-group-numbered">
        <li class="list-group-item">Goal #1</li>
        <li class="list-group-item">Goal #2</li>
        <li class="list-group-item">Goal #3</li>
        <li class="list-group-item">...</li>
      </ol>
  
      <p><span style="color:#606060;">Last modified: March 6th, 2022</span></p>
      <div class="sp6">&nbsp;</div>
      <address>
      <strong>[Company Name]</strong><br />
      <p><a href="mailto:email@[Company Name]">email@[Company Name]</a></p>
      </address>
      
      
      <div class="blk">&nbsp;</div>
    
    </div><!-- article div -->
  </article>
    
  <div class="blk">&nbsp;</div>
  
{% end %}

{% block custom-body-js-scripts %}

{% end %}