{% extends "base.html" %}

{% block title %} Terms - [Company Name] {% end %}

{% block custom-head-js-script %}
<!-- Custom styles for this template -->

{% end %}

{% block custom-starter-wrapper %}
<noscript> <div id="nojs" style="width: 22em; position: absolute; left: 50%; margin-left: -11em; color: red; background-color: white; border: 1px solid red; padding: 4px; font-family: sans-serif">Your web browser needs JavaScript enabled in order for this site to display correctly.</div> </noscript>
{% end %}

{% block container %}
    
  <article>
    <div id="article">
    
      <h1 class="text-body-emphasis">Terms Of Service</h1>
        
      <div class="blk">&nbsp;</div>

      <strong>1. ACCEPTANCE OF TERMS</strong>
      <p>[Company Name] provides the information on this Web site as provided in these Terms of Service ("TOS"). [Company Name] may update the TOS at any time and without prior notice by posting a new version at <a href="terms">Terms</a>. The information on this site and your use of it is subject to the most recent version of the TOS posted.</p>
      
      <strong>2. DESCRIPTION OF SERVICE</strong>
      <p>[Company Name] provides you with access to this site and services. Unless explicitly stated otherwise, any new features that augment or enhance the current [Company Name] site shall be subject to the TOS.</p>

      <strong>3. Personally Identifiable Information (“PII”):</strong>
      <p>When you join our emailing list to receive our newsletters and other communications via email we collect your email address.  We also collect PII that you choose to give us in your communications with us.</p>

      <strong>4. Cookies and Similar Technologies</strong>
      <p>The Site might uses “cookies.”  A cookie is a small amount of data that is sent to your browser from an internet server and stored in your computer.</p>
      
      <strong>5. SECURITY</strong>
      <p>Protecting the security of PII that you share with us is important to us. Unfortunately, however, no data transmission over the Internet or any mobile or wireless network and no data storage can be guaranteed to be 100% secure.  As a result, while we strive to protect your PII, we cannot guarantee or warrant the security of any information you transmit to or from or on the Site, and you do so at your own risk.  By providing your email address to us, you acknowledge and agree that we may notify you by email in the event of a breach of security involving your PII.</p>
      
      <strong>6. TERMINATION</strong>
      <p>You agree that [Company Name] may terminate your access to the [Company Name] site for violations of the TOS and/or requests by authorized law enforcement or other government agencies.</p>
      
      <strong>7. LINKS</strong>
      <p>The [Company Name] may provide, or third parties may provide, links to other World Wide Web sites or resources. Because [Company Name] has no control over such sites and resources, you acknowledge and agree that [Company Name] is not responsible for the availability of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products or other materials on or available from such sites or resources. You further acknowledge and agree that [Company Name] shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such Content, goods or services available on or through any such site or resource.</p>
      
      <strong>8. LIMITATION OF LIABILITY</strong>
      <p>You expressly understand and agree that [Company Name] and its affiliates, officers, employees, agents, partners and licensors shall not be liable to you for any direct, indirect, incidental, special, consequential or exemplary damages, including, but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if [Company Name] has been advised of the possibility of such damages), resulting from the use or the inability to use the [Company Name] site.</p>
      <p>You expressly understand and agree with Open Source licences for any [Company Name] service or/and [Company Name] product that provide Open Source's software.</p>
      
      <strong>9. DISCLAIMER</strong>
      <p>All trademarks are the property of their respective owners.</p>

      <strong>10. DISCLAIMER</strong>
      <p>Past performance is not a predictor of future results. All investing involves the risk of loss.</p>
      
      <p><span style="color:#606060;">Last modified: October 1st, 2023</span></p>
      <div class="sp6">&nbsp;</div>
      <address>
      <strong>[Copany Name]</strong><br />
      <p><a href="mailto:email@[Company Name]">email@[Company Name]</a></p>
      </address>
      
      
      <div class="blk">&nbsp;</div>
    
    </div><!-- article div -->
  </article>
    
  <div class="blk">&nbsp;</div>
  
{% end %}

{% block custom-body-js-scripts %}

{% end %}